.root {
  display: none;
}

@media (min-width: 900px) {
  .root {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    padding: 50px 20px 50px 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .root_unvisible {
    composes: root;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .modal_bg {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 21;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid #e52d27;
    padding: 20px;
  }
  .close_button_container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
  }

  .text_container {
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
  }

  .text {
    width: 100%;
    max-width: 900px;
    font-size: 32px;
  }

  .admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;
    gap: 10px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 80px;
    background-color: black;
    border: 2px solid #e52d27;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
  }

  .button:hover {
    compose: button;
    background-color: #e52d27;
  }

  .number_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 450px;
  }

  .socials_container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .button_copy {
    background-color: black;
    border: none;
    cursor: pointer;
  }
}
