:root {
  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-pagination-color: rgb(255, 0, 0);
  --swiper-pagination-bullet-bottom: -100px;
  --swiper-pagination-bullet-border-radius: 50px;
  --swiper-pagination-bullet-width: 80px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-vertical-gap: 16px;
  --swiper-pagination-bottom: 0px;
}

.root {
  width: 100%;
  margin-top: 100px;
}
.header {
  font-size: 32px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.swiper {
  display: flex;
  justify-content: space-between;
  height: 600px;
  align-items: start;
}

.slide_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  border: 2px solid red;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;
}

.card img {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 500px) {
  .card {
    max-width: 100%;
  }
}

@media (min-width: 600px) {
  .img_container {
    height: 300px;
  }
}

@media (min-width: 800px) {
  .header {
    margin-left: 100px;
  }
  .card {
    max-width: 400px;
  }
  .card img {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .img_container {
    height: 300px;
  }
  .header {
    font-size: 48px;
  }
  .card {
    max-width: 500px;
  }
  .card img {
    max-width: 350px;
  }
}
