.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: black;
  color: white;
}

.container {
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: calc(var(--container-width) + 4 * var(--padding));
  /* margin-top: 20px; */
}

.footer {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .container {
  }
}
