.root {
  display: none;
}

@media (min-width: 1000px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
  }
  .image_container {
    width: 300px;
    z-index: 2;
    margin-right: 50px;
  }
  .text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin-left: 50px;
  }
  .text {
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    font-weight: 200;
  }
  .pattern {
    position: absolute;
    right: -100px;
    height: 100px;
    z-index: 1;
    scale: 2;
  }
  .coach_name {
    font-size: 24px;
  }
  .rank {
    font-size: 18px;
  }
  .icon {
    width: 50px;
  }
  .achievement_description {
    font-size: 14px;
  }
  .header {
    font-size: 32px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
  }
  .socials_container {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
  }
  .number_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 450px;
  }
  .button_copy {
    background-color: black;
    border: none;
    cursor: pointer;
  }
  .info_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding-left: 50px;
  }
}

@media (min-width: 800px) {
  .header {
    margin-left: 100px;
  }
  .info {
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 48px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .info {
    padding-left: 0px;
  }
  .root {
    padding-left: 100px;
  }
  .image_container {
    width: 350px;
    z-index: 2;
    margin-right: 100px;
  }
  .pattern {
    scale: 4;
  }
  .coach_name {
    font-size: 36px;
  }
  .rank {
    font-size: 18px;
  }
  .achievement_description {
    margin-left: 10px;
    font-size: 18px;
    width: 100%;
    max-width: 700px;
  }
  .info_container {
    padding-left: 0px;
  }
  .text {
    font-size: 24px;
    max-width: 600px;
  }
  .text_container {
    margin-left: 0px;
  }
  .socials_container {
    margin-left: 0px;
  }
}

@media (min-width: 1500px) {
  .header {
    margin-left: 0px;
  }
  .info {
    padding-left: 0px;
  }
  .image_container {
    margin-right: 200px;
  }
}
