.swiper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
:root {
  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-pagination-color: #e52d27 !important;
  --swiper-pagination-bullet-border-radius: 50px;
  --swiper-pagination-bullet-width: 50px !important;
  --swiper-pagination-bullet-height: 15px !important;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px !important;
  --swiper-pagination-bullet-vertical-gap: 100px !important;
  --swiper-pagination-bottom: 10px !important;
}
.swiper-pagination {
  top: 2px;
}

.slide_container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide_container_text {
  position: absolute;
  bottom: 200px;
  z-index: 5;
  height: 100px;
  text-align: center;
}
.slide_header {
  font-size: 24px;
  margin-bottom: 20px;
}
.slide_description {
  display: block;
  font-size: 16px;
  width: 100%;
  max-width: 250px;
}
.button {
  width: 150px;
  height: 50px;
  border: 2px solid #e52d27;
  border-radius: 10px;
  background: #e52d27;
  font-size: 16px;
  font-weight: 600;
  bottom: 60px;
  left: 50px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  z-index: 4;
  margin-top: 20px;
}
.button:hover {
  background: rgb(0, 0, 0);
  transition: background 0.5s ease-in-out;
}
.image_slide_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image_slide {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.video {
  opacity: 1;
  position: absolute;
  width: 100%;
  z-index: 1;
  transition: opacity 1s ease-in-out;
  top: 130px;
}
.video_disable {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}
.preview {
  position: absolute;
  width: 100%;
  scale: 1.2;
  top: 150px;
  z-index: 0;
}
.preview_disable {
  composes: preview;
  opacity: 0;
  transition: opacity 1s;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 3;
}

@media (min-width: 700px) {
  .video {
    top: 0px;
    height: 100%;
    width: auto;
  }
  .preview {
    height: 100%;
    width: auto;
  }
  .image_slide_container {
    padding-top: 0px;
  }
  .slide_container_text {
    bottom: 300px;
  }
  .slide_header {
    font-size: 48px;
  }
  .slide_description {
    font-size: 24px;
    max-width: 500px;
  }
  .button {
    width: 350px;
    height: 80px;
    font-size: 32px;
  }
}

@media (min-width: 1030px) {
  .video {
    top: 0px;
    height: 100%;
    width: auto;
  }
  .preview {
    height: 100%;
    width: auto;
  }
  .image_slide_container {
    padding-top: 0px;
  }
  .slide_container {
    width: 100%;
  }
  .slide_container_text {
    left: 100px;
  }
  .slide_header {
    font-size: 32px;
  }
  .slide_description {
    font-size: 20px;
    max-width: 400px;
  }
  .button {
    left: 100px;
  }
}

@media (min-width: 1200px) {
  .preview {
    top: 0;
  }
  .slide_container {
    width: 100%;
  }
  .slide_container_text {
    left: 100px;
    bottom: 300px;
    text-align: start;
  }
  .slide_header {
    font-size: 60px;
  }
  .slide_description {
    font-size: 24px;
    max-width: 650px;
  }
  .button {
    width: 270px;
    height: 80px;
    font-size: 20px;
    border-radius: 20px;
    bottom: 150px;
  }
}

@media (min-width: 1500px) {
  .image_slide_container {
    padding-top: 0px;
  }
  .video {
    height: auto;
    width: 100%;
  }
  .preview {
    height: 100%;
  }
}
